<section class="product-navigation">
	<a href="//Ravenna.com/compliance" class="left">&lsaquo;</a>
	<span class="span-left">Compliance Home</span>
	<span class="quote">&copy; Ravenna LLC.. 2015</span>
	<a href="//policy.Ravenna.com" class="right">&rsaquo;</a>
	<span class="span-right">Open Source Policies</span>
</section>